<%- include('includes/header') %>
  
  <div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2 style="font-size: 1.7rem;">Whoops, we cannot find that page.</h2>
      <p class="lead text-muted" style="font-size: 1rem;">You can always visit the <a href="/">homepage</a> to get a fresh start.</p>
    </div> 
  </div>

<%- include('includes/footer') %>